<div class="col-md-10">
  <h3 class="text-secondary">Latest Discussions</h3>
  <br>
  <div class="discussions">
    <% @discussions.each do |discussion| %>
      <div class="row border-bottom mb-3 pb-3 ps-0 pe-0">
        <div class="col-md-1">
        </div>
        <div class="col-md-7">
          <%= link_to discussion do %>
            <h5 class="font-weight-bold"><%= discussion.title %></h5>
          <% end %>
          <div class="content">
            <%= truncate(discussion.content, length: 140) %>
            <p class="text-muted"><small>
              Posted <%= time_ago_in_words(discussion.created_at) %> ago in 
              <% if discussion.channel %>
                <%= link_to discussion.channel.channel, discussion.channel %>
              <% end %>
              by <%= discussion.user.email %>
            </small></p>
          </div>
        </div>
        <div class="col-md-4 text-end">
          <%= link_to 'Edit', edit_discussion_path(discussion), class: 'btn btn-outline-secondary btn-sm me-2 text-grey' %>
          <%= link_to 'Delete', discussion_path(discussion), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary btn-sm text-grey' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
